<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Accessibility statement for the Help for early years providers service</h1>
    <p class="govuk-body">A full accessibility statement will appear on this page before the Help for early years providers website is made available to the public.</p>
    <p class="govuk-body">The page will cover:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the efforts we have made to comply with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</li>
      <li>how this website meets the Web Content Accessibility Guidelines version 2.1 AA standard</li>
    </ul>
    <p class="govuk-body">If you have any feedback on the accessibility of this website, please contact <a class="govuk-link email" href="mailto:help_for_early_years_providers@digital.education.gov.uk">help_for_early_years_providers@digital.education.gov.uk</a></p>
  </div>
</div>