%h1.govuk-heading-xl
  = @page.title

%p.govuk-body
  For more information about Help for early years providers, email us: 

%p.govuk-body 
  %a.govuk-link.email{href: "mailto:help_for_early_years_providers@digital.education.gov.uk"}
    help_for_early_years_providers@digital.education.gov.uk

%p.govuk-body
  We aim to respond within 2 working days. 