<h1 class="govuk-heading-xl"> <%= @page.title %></h1>
<h2 class="govuk-heading"> Linking from help for early years providers </h2>
<p class="govuk-body"> Help for early years providers links to websites that are managed by other government departments and agencies, service providers or other organisations. This includes links in the ‘other activities’ sections of our pages. We do not have any control over the content on these websites. </p>
<p class="govuk-body"> We’re not responsible for: </p>
<ul class="govuk-list govuk-list--bullet">
  <li> the protection of any information you give to these websites </li>
  <li> any loss or damage that may come from your use of these websites, or any other websites they link to </li>
</ul>
<p class="govuk-body"> Linking to a website does not constitute an endorsement of that website by the Department for Education or any other government department or agency. </p>
<p class="govuk-body"> You do not have to use the external resources we link to. The lists of external resources are not exhaustive. </p>
<p class="govuk-body"> You agree to release us from any claims or disputes that may come from using these websites. </p>
<p class="govuk-body"> You should read all terms and conditions, privacy policies and end user licences that relate to these websites before you use them. </p>
<p class="govuk-body"> Should you have a concern about the content of a site we link to please email <a class="govuk-link email" href="mailto:help_for_early_years_providers@digital.education.gov.uk">help_for_early_years_providers@digital.education.gov.uk</a></p>
