<div class="govuk-accordion" data-module="govuk-accordion">
  <div id="module-1-understanding-child-development-and-the-eyfs-section" class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">Module 1: Understanding child development and the EYFS</span>
        <span>As an early years practitioner, understanding child development and the early years foundation stage (EYFS) will enable you to meet the needs of all the children in your care.
      </h2>
    </div>
    <div id="module-1-understanding-child-development-and-the-eyfs-content" class="govuk-accordion__section-content"
      aria-labelledby="module-1-understanding-child-development-and-the-eyfs">
      <div class="gem-c-govspeak">
        <p>This module will encourage you to reflect on why knowledge of child development is important, and help you to
          effectively implement the EYFS. It also considers the impact of the coronavirus (COVID-19) pandemic on
          children and their development.</p>
      </div>
      <h2>What you’ll learn </h2>
      <p class="govuk_body">This module will cover:</p>
      <div class="gem-c-govspeak">
        <ul>
          <li>the importance of early childhood education and care, including how to implement strategies to provide a
            positive approach in your setting</li>
          <li>the importance of child development knowledge and the various factors that impact on children’s
            development</li>
          <li>how you can effectively deliver the EYFS</li>
          <li>the impact of the COVID-19 pandemic on children’s development</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="module-2-brain-development-and-how-children-learn-section" class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">

        <button type="button" aria-controls="module-2-brain-development-and-how-children-learn-content"
          class="govuk-accordion__section-button" aria-expanded="false"><span
            class="govuk-accordion__section-heading-text" id="module-2-brain-development-and-how-children-learn"><span
              class="govuk-accordion__section-heading-text-focus">Module 2: Brain development and how children
              learn</span></span><span class="govuk-visually-hidden govuk-accordion__section-heading-divider">,
          </span><span id="module-2-brain-development-and-how-children-learn-summary"
            class="govuk-accordion__section-summary govuk-body"><span class="govuk-accordion__section-summary-focus">The
              rapid changes that happen in the brain in a child's first years lay critical foundations for later
              childhood and adult life. As an early years practitioner, you can play a significant role in encouraging
              and supporting children’s brain development.
            </span></span><span class="govuk-visually-hidden govuk-accordion__section-heading-divider">, </span><span
            class="govuk-accordion__section-toggle" data-nosnippet=""><span
              class="govuk-accordion__section-toggle-focus"><span
                class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span><span
                class="govuk-accordion__section-toggle-text">Show<span class="govuk-visually-hidden"> this
                  section</span></span></span></span></button>
      </h2>
    </div>
    <div id="module-2-brain-development-and-how-children-learn-content" class="govuk-accordion__section-content"
      aria-labelledby="module-2-brain-development-and-how-children-learn">
      <div class="gem-c-govspeak">
        <p>This module will reinforce your understanding of how a child’s brain develops, and help you to consider
          factors affecting children’s brain development when planning for your setting.</p>
      </div>
      <h2>What you’ll learn </h2>
      <p class="govuk_body">This module will cover:</p>
      <div class="gem-c-govspeak">
        <ul>
          <li>the stages of children’s brain development</li>
          <li>how brain development impacts on children’s holistic development</li>
          <li>the connection between brain development and children’s learning</li>
          <li>a range of theories underpinning best practice</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="module-3-supporting-children-s-personal-social-and-emotional-development-section"
    class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">

        <button type="button"
          aria-controls="module-3-supporting-children-s-personal-social-and-emotional-development-content"
          class="govuk-accordion__section-button" aria-expanded="false"><span
            class="govuk-accordion__section-heading-text"
            id="module-3-supporting-children-s-personal-social-and-emotional-development"><span
              class="govuk-accordion__section-heading-text-focus">Module 3: Supporting children’s personal, social and
              emotional development</span></span><span
            class="govuk-visually-hidden govuk-accordion__section-heading-divider">, </span><span
            id="module-3-supporting-children-s-personal-social-and-emotional-development-summary"
            class="govuk-accordion__section-summary govuk-body"><span
              class="govuk-accordion__section-summary-focus">This module explores how you can best support children to
              learn, develop and rehearse their key personal, social and emotional skills in your everyday practice.
            </span></span><span class="govuk-visually-hidden govuk-accordion__section-heading-divider">, </span><span
            class="govuk-accordion__section-toggle" data-nosnippet=""><span
              class="govuk-accordion__section-toggle-focus"><span
                class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span><span
                class="govuk-accordion__section-toggle-text">Show<span class="govuk-visually-hidden"> this
                  section</span></span></span></span></button>
      </h2>
    </div>
    <div id="module-3-supporting-children-s-personal-social-and-emotional-development-content"
      class="govuk-accordion__section-content"
      aria-labelledby="module-3-supporting-children-s-personal-social-and-emotional-development">
      <div class="gem-c-govspeak">
        <p>It will help you to consider how the development of these skills impact on a child’s overall development.</p>
      </div>
      <h2>What you’ll learn </h2>
      <p class="govuk_body">This module will cover:</p>
      <div class="gem-c-govspeak">
        <ul>
          <li>the stages of children’s personal, social and emotional development</li>
          <li>the importance of effective relationships</li>
          <li>how different factors influence children’s behaviour</li>
          <li>self-regulation and its role in children’s development</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="the-experts-section" class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">

        <button type="button" aria-controls="the-experts-content" class="govuk-accordion__section-button"
          aria-expanded="false"><span class="govuk-accordion__section-heading-text" id="the-experts"><span
              class="govuk-accordion__section-heading-text-focus">The experts</span></span><span
            class="govuk-visually-hidden govuk-accordion__section-heading-divider">, </span><span
            id="the-experts-summary" class="govuk-accordion__section-summary govuk-body"><span
              class="govuk-accordion__section-summary-focus">This training course has been created by 3 early years
              experts.</span></span><span class="govuk-visually-hidden govuk-accordion__section-heading-divider">,
          </span><span class="govuk-accordion__section-toggle" data-nosnippet=""><span
              class="govuk-accordion__section-toggle-focus"><span
                class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span><span
                class="govuk-accordion__section-toggle-text">Show<span class="govuk-visually-hidden"> this
                  section</span></span></span></span></button>
      </h2>
    </div>
    <div id="the-experts-content" class="govuk-accordion__section-content" aria-labelledby="the-experts">
      <div class="gem-c-govspeak">
        <h3 id="debbie-parry">Debbie Parry</h3>

        <p>Debbie Parry has over 20 years of experience in education and training.
          She spent several years working as an early years practitioner in private day nurseries,
          before going on to use her knowledge and experience to teach the practitioners
          of the future in college environments.</p>

        <p>Debbie has supported a wide range of practitioners including childminders,
          apprentices and nursery staff. Most recently, she has been designing and delivering
          bespoke training packages for those working in the early years sector.</p>

        <p>Debbie’s qualifications include:</p>

        <ul>
          <li>BTEC National Diploma in Early Childhood Studies</li>
          <li>NCFE CACHE Level 2 Certificate in Understanding Behaviour that Challenges</li>
          <li>NCFE CACHE Level 2 Certificate in Understanding Autism</li>
          <li>Diploma in Teaching in the Lifelong Learning Sector (DTLLS)</li>
        </ul>

        <h3 id="melissa-tharm">Melissa Tharm</h3>

        <p>Melissa Tharm worked in SEND residential environments for a number of years.
          She now brings her experience and knowledge to designing and delivering
          outstanding training programmes to professionals in the health, care and education sectors.</p>

        <p>Melissa’s qualifications include:</p>

        <ul>
          <li>Certificate in Education (CertEd)</li>
          <li>GNVQ Advanced Health and Social Care</li>
          <li>NCFE CACHE Level 2 Certificate in Understanding Autism</li>
          <li>Makaton Stage 8</li>
        </ul>

        <h3 id="catherine-mcelroy">Catherine Mcelroy</h3>

        <p>Catherine Mcelroy has over 20 years of experience working in private day nurseries with children under 5.
          She has spent the last 10 years as a nursery manager, ensuring that
          children and their families experience excellent care that is fun and exciting.</p>

        <p>Catherine’s qualifications include:</p>

        <ul>
          <li>BTEC National Diploma in Early Childhood Studies</li>
          <li>Foundation Degree in Early Childhood Studies</li>
        </ul>
      </div>
    </div>
  </div>
</div>