<h1 class="govuk-heading-l">Edit a Block</h1>
<%= render 'form', content_block: @content_block %>

<%= link_to 'Refresh', edit_content_block_path(@content_block), { :class => "govuk-link" } %>|
<%= link_to 'Back', content_block_path %>
