%tr.govuk-table__row[article]
  %td.govuk-table__cell
    = link_to(article.title, admin_article_path(article), id: dom_id(article))
  %td.govuk-table__cell
    = article.description
  %td.govuk-table__cell
    %b
      = link_to('Edit', edit_admin_article_path(article), id: dom_id(article))
      = link_to('Delete', admin_article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete?" }, id: dom_id(article))
