%tr.govuk-table__row
  %td.govuk-table__cell
    = article.title
  %td.govuk-table__cell
    Description to come
  %td.govuk-table__cell
    %b
      = link_to('Edit', edit_admin_article_path(article), id: dom_id(article))
