<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  <%= @article.title %>
</h1>
<div class="govuk-body govuk-!-margin-bottom-2">
  <%= @article.published_at&.strftime("%d %B %Y") %>
</div>

<%= feature_image(page: @article) %>

<div class="govuk-body gem-c-govspeak">
  <%= translate_markdown(@article.markdown) %>
</div>
