.prompt {
  background-color: govuk-colour('light-grey');
  border-top: govuk-colour('turquoise') solid govuk-spacing(2);
  margin: govuk-spacing(5) govuk-spacing(0);
  padding-left: govuk-spacing(4);
  padding-right: govuk-spacing(4);

  .svg-inline--fa {
    background-color: govuk-colour('turquoise');
    color: govuk-colour('white');
    padding: govuk-spacing(4) !important;
    position: relative;
    display: inline-block;
    width: 32px;
    top: govuk-spacing(-3);
    left: govuk-spacing(-6);
  }

  .govuk-grid-column-one-quarter {
    margin-right: -120px;
  }

  .govuk-grid-column-three-quarters {
    padding: govuk-spacing(3);
    
    // OPTIMIZE: change to use media query
    @media(min-width: 40em) and (max-width: 61.5em) {
      padding-left: govuk-spacing(7);
    }
  }

  // change to use media query
  .small-screen-padding-right {
    @media(max-width: 40.0625em) {
      padding-right: govuk-spacing(4);
    }
  }

  &.prompt-bg {
    background-color: lighten(govuk-colour('turquoise'), 50%);
  }

  &.prompt-home {
    background: $light-blue;
    border-top: $department-for-education-websafe solid govuk-spacing(2);

    .govuk-grid-column-one-quarter {
      @include govuk-media-query($from: desktop) {
        margin-right: -220px;
      }
    }

    .svg-inline--fa {
      background-color: $department-for-education-websafe !important;
    }
  }
}

.legend {
  .svg-inline--fa {
    width: 1em;
    display: inline-block;
    float: left;
    margin-right: govuk-spacing(4);
  }

  li {
    min-height: 8em;
  }

  p {
    display: inline-block;
    margin-top: 0px;
    width: 80%;
  }
}
