//styles for the NHScard component

$card-border-width: 1px;
$card-border-bottom-width: 3px;
$card-border-color: #1d70b8;
$card-border-hover-color: #003078;

.eyfs-card {
  @include govuk-responsive-margin(5, 'bottom');

  background: govuk-colour("white");
  border-bottom: $card-border-width solid $card-border-color;
  position: relative;
  width: 100%;
}

.eyfs-card__content {
  // @include top-and-bottom();
  @include govuk-responsive-padding(5);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eyfs-card__heading,
.eyfs-card__metadata,
.eyfs-card__description {
  margin-bottom: govuk-spacing(3);
}

/* Clickable card
  ========================================================================== */

.eyfs-card--clickable {
  border-bottom-width: $card-border-bottom-width;

  &:hover,
  &:active {
    cursor: pointer;

    .eyfs-card__heading a,
    .eyfs-card__link {
      color: $govuk-link-hover-colour;
      text-decoration: none;

      &:focus {
        color: $govuk-focus-colour;
      }
    }

  }

  &:hover {
    border-color: $card-border-hover-color;
  }

  &:active {
    border-color: $card-border-hover-color;
    border-bottom-width: 0;
    bottom: - $card-border-width;
  }
}

.eyfs-card-group {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: govuk-spacing(2);
  padding: 0;

  @include mq($until: desktop) {
    margin-bottom: govuk-spacing(6);
  }
}

.eyfs-card-group__item {
  display: flex;

  list-style-type: none;
  margin-bottom: 0;

  .eyfs-card {
    margin-bottom: govuk-spacing(5);
  }

  @include mq($until: desktop) {

    .eyfs-card {
      margin-bottom: govuk-spacing(3);
    }
  }

  .eyfs-card--feature {
    margin-top: 0;
  }
}

.eyfs-card-group--list {
  .eyfs-card-group__item {
    &:not(:last-child) {
      .eyfs-card {
        border-bottom-width: 0;
        margin-bottom: 0;
      }
    }
  }
}

.eyfs-card--icon {
  background-position: right 8px top 50%;
  background-repeat: no-repeat;
  min-width: 30px;
  max-width: 30px;

    @include mq($until: desktop) {
      background-position: right 4px top 50%;
    }
}

/* With icon
  ========================================================================== */

.eyfs-card--link {
  a {
    text-decoration: none;
  }

  &.eyfs-card--clickable {
    &:hover,
    &:active {
      a {
        text-decoration: underline;

        &:hover {
          text-decoration: underline;
        }

        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}

