.app-cookie-banner {
  @include govuk-font(16);
  @include govuk-text-colour;

  box-sizing: border-box;
  width: 100%;

  padding-top: govuk-spacing(3);
  padding-right: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
  padding-left: govuk-spacing(3);
  background-color: lighten(desaturate(govuk-colour("light-blue"), 8.46), 42.55);
}

.app-cookie-banner__message {
  margin: 0;
  @include govuk-width-container;
}

@include govuk-media-query($media-type: print) {
  .govuk-cookie-banner {
    display: none !important;
  }
}

.govuk-cookie-banner {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include govuk-font(16);
  @include govuk-text-colour;
  padding-top: 20px;
  border-bottom: 10px solid transparent;
  background-color: #f3f2f1;

  .govuk-cookie-banner__content {
    p {
      @include govuk-font(19);
    }
  }

  a.govuk-link {
    @include govuk-font(19);
    line-height: 2em !important;
    color: $govuk-brand-colour;
  }

  .govuk-button-group .govuk-button {
    margin-right: 15px;
  }

  form {
    display: inline-block;
  }

}