.govuk-link:link, a:link, .app-step-nav-header__title:link, .app-step-nav-related__link:link {
  color: #1d70b8;
}

.gem-c-share-links__link-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.gem-c-share-links__link {
  text-decoration: none;
  font-weight: 700;
}

.govuk-link, a, .app-step-nav-header__title, .app-step-nav-related__link {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}