@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/govuk/all";

@import "_subnav.scss";
@import "_content.scss";
@import "_eyfs-header.scss";
@import "_eyfs-mobile-navigation.scss";
@import "_cookie-banner.scss";
@import "_next-prev.scss";
@import "_cards.scss";
@import "layout-eyfs/landing-page.scss";


#content_asset_avatar, #content-asset-wrapper {
  padding-top: govuk-spacing(6);
}

.align-right {
  text-align:right;
}

.nesting_level_1 {
  margin-left: 0em;
}

.nesting_level_2 {
  margin-left: 2em;
}

.nesting_level_3 {
  margin-left: 4em;
}

.summary {
  border-left: 3px solid #ccc;
  padding-left: 1em;
}

.links {
  margin-left: 3em;
  font-size: 0.5em;
}


