<h1 class="govuk-heading-l">Get support and guidance</h1>
<p class="govuk-body-s">Childminders and nursery practitioners can find help with day-to-day tasks with these
expert led articles</p>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div id="main-content" class="app-content gem-c-govspeak">
            <%= render 'layouts/notice' %>
          </div>
        </div>
      </div>
    </main>
  </div>

