- if show_important_banner?
  .govuk-grid-row class='govuk-!-margin-bottom-7'
    .govuk-grid-column-full
      .govuk-notification-banner role='alert' aria-labelledby='govuk-notification-banner-title' data-module='govuk-notification-banner'
        .govuk-notification-banner__header
          h2#govuk-notification-banner-title.govuk-notification-banner__title
            | Important
        .govuk-notification-banner__content
          = m(important_information_banner.body)
