<div class="govuk-width-container">
  <div class="govuk-grid-row govuk-!-margin-bottom-7">
    <% if notice %>
      <div class="govuk-success-summary banner-with-tick" data-qa="cookie-consent-success-message" aria-labelledby="success-message" tabindex="-1" role="alert" data-cookie-confirmation="true">
        <div class="govuk-success-summary__title">
          <h2 class="govuk-heading-m" id="success-message">
            <%= notice.html_safe %>
          </h2>
        </div>
      </div>
    <% end %>

    <%== insert_block('cookies') %>
  </div>
  <h2 class="govuk-heading-l">Change your cookie settings</h2>
  <%= render 'settings/cookie_form' %>
</div>
</div>
