<div class="govuk-width-container">
  <div class="govuk-grid-row govuk-!-margin-bottom-7">
    <%== insert_block('cookies') %>
  </div>
  <h2 class="govuk-heading-l">Change your cookie settings</h2>
  <%= render 'settings/cookie_form' %>
</div>
</div>
