<div class='copy-to-clipboard'>
  <p><label for='clipboard_content'>Asset URL</label></p> 
  <p><input id='clipboard_content' name='clipboard_content' value='<%= clipboard_content %>' class='govuk-input' readonly></p>
  <input id='clipboard_copier' type="button" onclick="" value="copy to clipboard">
</div>