<div class='copy-to-clipboard'>
  <p>Asset Details</p>
  <p><input name='clipboard_content' value='<%= clipboard_content %>' class='govuk-input'></p>
  <input type="button" onclick="" value="copy to clipboard">
</div>