<main role="main" class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Page not found.</h1>
      <p class="govuk-body">
        Use this link to go back to the homepage 
        <%= link_to("Help for early years providers", root_path) %>
      </p>
      <p class="govuk-body">
        If the web address is correct or you selected a link or button, contact 
        <a class="govuk-link email" href="mailto:help_for_early_years_providers@digital.education.gov.uk">
          help_for_early_years_providers@digital.education.gov.uk
        </a> to report a fault about the service.
      </p>
    </div>
  </div>
</main>
