  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Help for early years providers</h1>
        <h2 class="govuk-heading-m">Sorry, the site is unavailable</h2>
        <p class="govuk-body">You will be able to use the website later.</p>
        <p class="govuk-body">Please contact the Help for early years team on:</p>
        <p class="govuk-body">
          <a href="mailto:help_for_early_years_providers@digital.education.gov.uk" target="_blank" rel="noopener noreferrer" class="govuk-link email"> help_for_early_years_providers@digital.education.gov.uk</a>
        </p>
      </div>
    </div>
  </div>
