<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l">Edit page -  <%= @content_page&.title %></h1>
  </div>
  <div class="govuk-grid-column-one-half draft">
    <span class="published-status govuk-button">Draft</span>
  </div>
</div>

<%= render 'form', content_page: @content_page %>
