<p id="notice"><%= notice %></p>

<h2 class="govuk-heading-l">Edit pages</h2>

<br/>

<div>
  <% @content_pages.each_with_index do |content_page, index| %>
    <%= render partial: 'details_for_a_single_page', locals: {page_to_render: content_page, level: 1} %>
  <% end %>
</div>
