<h2 class="govuk-heading-l">Add a new page</h2>

<%= link_to 'Back', content_pages_path, class: 'govuk-back-link'%>

<%= render 'form', content_page: @content_page %>

<%= link_to 'Back', content_pages_path, class: 'govuk-back-link'%>

