<h1 class="govuk-heading-l">Page versions</h1>

<h2 class="govuk-heading-s"><%= @content_page.title %></h2>

<% if @content_page.is_published %>
  <%= render partial: 'table_of_live_version' %>
<% else %>
  <p  class="govuk-body-s">No versions published yet</p>
<% end %>

<%= render partial: 'table_of_draft_versions' %>

