.govuk-link, a, .app-step-nav-header__title, .app-step-nav-related__link {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.govuk-breadcrumbs li {
  font-size: 16px;
}

@media (max-width: 40.0525em) {
 .govuk-breadcrumbs li {
    font-size: 14px;
  }
}
