// $govuk-global-styles: true;
// $govuk-assets-path: '/';

// https://frontend.design-system.service.gov.uk/sass-api-reference
// https://design.education.gov.uk/design-system/dfe-frontend
// https://design-system.service.gov.uk/styles/colour/

// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_colours.scss

@import 'govuk-frontend/dist/govuk/all';
@import 'dfe-frontend/packages/dfefrontend';

$light-blue: tint(govuk-organisation-colour('department-for-education'), 90%);

// Colour with 7:1 contrast to meet WCAG 2.2 - this should be applied to all links with a blue background
// Original colour for light blue link - $light-blue-link: #155084;
$light-blue-link: darken($govuk-link-colour, 11%);

@import 'header';
@import 'breadcrumbs';

@import 'video';
@import 'downloadable-media';
@import 'image-card';

@import 'card';
@import 'side-nav';

@import 'citation';
@import 'other-resources';
@import 'print';
@import 'cta';
@import 'page-contents';

* {
  font-family:
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    sans-serif !important;
}

.debug_dump {
  background: beige;

  &,
  * {
    font-family: monospace !important;
  }
}

main img,
aside img {
  max-width: 100%;
}

.full-width-image {
  max-width: 100%;
}

.govuk-width-container,
.dfe-width-container {
  max-width: 1200px;
}

.dfe-width-container.dfe-header__container.dfe-header-f-header-flex {
  display: flex;
  flex-wrap: wrap;
}

#hero-layout {
  .govuk-notification-banner {
    margin-top: govuk-spacing(6);
    margin-bottom: govuk-spacing(-4);
  }

  #flash .govuk-notification-banner {
    margin-bottom: govuk-spacing(4);
  }

  @include govuk-media-query($until: tablet) {
    .govuk-grid-column-one-half>p,
    .govuk-grid-column-one-half>h2 {
      margin-left: govuk-spacing(2);
      margin-right: govuk-spacing(2);
    }
  }
}


.app-sidebar {
  padding: govuk-spacing(5) govuk-spacing(3);
  background-color: govuk-colour('light-grey');

  *:last-child {
    margin: 0;
  }
}

.govuk-label {
  font-weight: normal;
}

.light-grey-box {
  padding: govuk-spacing(5);
  margin-bottom: govuk-spacing(5);
  background: govuk-colour('light-grey');

  @include govuk-media-query($until: tablet) {
    margin-top: govuk-spacing(6);
    margin-bottom: govuk-spacing(6);
  }

  &.enrol-box {
    border-radius: 6px;

    .govuk-button {
      margin: 0;
    }
  }
}

.float-right {
  float: right;
  display: block;
}

abbr {
  cursor: help;
  text-decoration: none;
}

.accordion-section-left-column {
  display: inline-block;
  max-width: calc(100% - 142px);
}

// nested bullets (level 2) to be unfilled circles
ul>li>ul>li {
  list-style-type: circle;
}

.first-column-bold td:first-child {
  font-weight: bold;
}

.log-entry {
  border: 0.5px solid;
  border-color: $govuk-border-colour;
  padding: 20px;
  margin-bottom: 40px;
}

.form-container {
  padding: 30px;
  background: govuk-colour('light-grey');
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

#available h2 .govuk-tag {
  margin-left: govuk-spacing(1);
}

.text-secondary {
  color: $govuk-secondary-text-colour;
}

@media (min-width: 40.0625em) {
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 1.5rem;
  }
}

.govuk-footer__copyright-logo {
  display: none;
}
