$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

@function frontend-font-url($filename){
@return url("/fonts/" + $filename);
}

@function frontend-image-url($filename){
@return url("/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "govuk-frontend/govuk/all";
@import "govspeak";

// See SCSS_README.md for an explanation

@import "_subnav.scss";
@import "_eyfs-header.scss";
@import "_eyfs-mobile-navigation.scss";
@import "_eyfs-resource-template.scss";
@import "_cookie-banner.scss";
@import "_next-prev.scss";
@import "_cards";
@import "layout-eyfs/landing-page.scss";
@import "_cms.scss";
@import "_links.scss";
@import "_flash.scss";

.email {
  word-wrap: break-word;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 480px;
  background-color: #555;
  color: #fff;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#user-password-label {
  background-image: url("/images/icon-info.svg");
  background-repeat: no-repeat;
  background-position: 87px;
  background-size: 23px;
}

#password-tooltip {
  color: white;
  margin: 5px;
}

.banner-with-tick {
  padding: 15px 45px;
  background-image: url("/images/tick.png");
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: 15px 15px;
}

#add-user,
#add-article,
.govuk-tag {
  float: right;
}

.fixed-footer {
  background: #FFFFFF;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 1em;
  padding-left: 1em;
  border-top: 1px solid #eee;
}

.published-status {
  text-align: right;
  background-color: #1d70b8 !important;
}

.draft {
  text-align: right;
}

.light-grey-box {
  padding: govuk-spacing(5);
  margin-bottom: govuk-spacing(5);
  background: govuk-colour("light-grey");

  .govuk-button {
    margin: 0;
  }
}

.gem-c-emergency-banner {
  @include govuk-font(19);
  background-color: govuk-colour("black");
  color: govuk-colour("white");
  margin-top: 2px;
  padding: govuk-spacing(3) 0;

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(6) 0;
  }
}

.gem-c-emergency-banner--homepage {
  border-bottom: govuk-spacing(1) solid govuk-colour("white");
  border-top: govuk-spacing(1) solid govuk-colour("white");
  margin-bottom: govuk-spacing(-2);
  margin-top: 0;
  position: relative;
  z-index: 10;
}

.gem-c-emergency-banner__heading {
  @include govuk-font(24, $weight: bold);
  margin: 0;
}

.gem-c-emergency-banner__heading--homepage {
  @include govuk-font(48, $weight: bold);

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(4);
  }
}

.gem-c-emergency-banner__description {
  @include govuk-font(19);
  color: govuk-colour("white");
  margin-top: 0;
  margin-bottom: govuk-spacing(4);

  &:last-child {
    margin-bottom: 0;
  }
}

.gem-c-emergency-banner__description--homepage {
  margin: govuk-spacing(4) 0;
}

.gem-c-emergency-banner__link {
  @include govuk-font(19);
}

.gem-c-emergency-banner__link:link,
.gem-c-emergency-banner__link:visited {
  color: govuk-colour("white");
}

.gem-c-emergency-banner__link:focus {
  @include govuk-focused-text;
}

.gem-c-emergency-banner--notable-death {
  background-color: govuk-colour("black");
}

.gem-c-emergency-banner--national-emergency {
  // Not using govuk-colour("red") aka #d4351c as that's a slightly different red.
  background-color: #b10e1e;
}

.gem-c-emergency-banner--local-emergency {
  // Not using govuk-colour("turquoise") for background colour as
  // the contrast was too low with white text
  background-color: #00847d;
}
