.hf-card {
  &-container {
    background-color: govuk-colour('light-grey');
    border-bottom: 3px solid govuk-organisation-colour('department-for-education', false);
  }

  &-details {
    padding: govuk-spacing(6);
    min-height: 190px;
  }

  .hf-card-details {
    padding: govuk-spacing(5);
    min-height: 170px;
  }

  a {
    text-decoration: none;

    .hf-card-details p {
      color: $govuk-text-colour;
    }

    .hf-card-details h3 {
      color: $light-blue-link;
    }

    &:hover .hf-card-container {
      background-color: govuk-organisation-colour('department-for-education', false);

      .hf-card-details p, h3 {
          color: govuk-colour('white');
      }
    }
  }
}
