.gem-c-metadata {
  color: $department-for-education-pre-header;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1428571429;

  a {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: .1578em;
    font-weight: bold;
  }

  a:hover {
    text-decoration-thickness: max(3px, .1875rem, .12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
  }

  a:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    color: $department-for-education-pre-header;
  }

  a:link {
    color: $department-for-education-pre-header;
  }

  a:visited {
    color: $department-for-education-pre-header;
  }

  a:hover {
    color: #003078; // $govuk-link-hover-colour (so is this even needed)
  }

  a:active {
    color: $department-for-education-pre-header;
  }

  .gem-c-metadata:after {
    content: "";
    display: block;
    clear: both;
  }

}

@media print {
  .gem-c-metadata {
    color: #000;
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1.2;
  }
}


@media (min-width: 40.0625em) {
  .gem-c-metadata {
    font-size:16px;
    font-size: 1rem;
    line-height: 1.25;

    a {
      font-family: sans-serif
    }
  }
}

.gem-c-metadata .gem-c-metadata__definition-link {
  font-weight: normal
}

.gem-c-metadata.direction-rtl {
  direction: rtl;
  text-align: start
}

.gem-c-metadata--inverse {
  color: govuk-colour('white');
}

.gem-c-metadata--inverse a:link,.gem-c-metadata--inverse a:visited {
  color: govuk-colour('white');
}

.gem-c-metadata--inverse a:hover,.gem-c-metadata--inverse a:active {
  color: govuk-colour('white');
}

.gem-c-metadata--inverse a:focus {
  color: govuk-colour('black');
}

.gem-c-metadata--inverse-padded {
  padding: 10px
}

.gem-c-metadata--inverse-padded .gem-c-metadata__list {
  margin: 10px
}

@media (min-width: 40.0625em) {
  .gem-c-metadata--inverse-padded .gem-c-metadata__list {
    margin:15px
  }
}

.gem-c-metadata__term,.gem-c-metadata__definition {
  line-height: 1.4
}

.gem-c-metadata__term {
  margin-top: .5em
}

@media (min-width: 40.0625em) {
  .gem-c-metadata__term {
    box-sizing:border-box;
    float: left;
    clear: left;
    padding-right: 5px;
    margin-top: 0
  }
}

.gem-c-metadata.direction-rtl .gem-c-metadata__term {
  float: right;
  clear: right
}

@media (min-width: 40.0625em) {
  .gem-c-metadata.direction-rtl .gem-c-metadata__term {
    padding-left:5px;
    padding-right: 0
  }
}

.gem-c-metadata__definition {
  margin: 0
}

@media (min-width: 40.0625em) {
  .gem-c-metadata__definition:not(:last-of-type) {
    margin-bottom:5px
  }
}

.gem-c-metadata.direction-rtl .gem-c-metadata__definition {
  float: right
}

.gem-c-metadata__toggle-wrap {
  display: none
}

.js-enabled .gem-c-metadata__toggle-wrap {
  display: block
}

.js-enabled .gem-c-metadata__toggle-items.js-hidden {
  display: none
}

dl.gem-c-metadata__list {
  margin: 0;
}

.hf-citation {
  background: #eeeeee75;
  padding: 15px 10px 15px 20px;
  margin-top: 60px;
  border-left: 5px solid #347ca9;
}
