.govuk-super-navigation-header {
  background: govuk-colour('blue');
  border-bottom: -1px solid rgba(11, 12, 12, 0.13);
  line-height: normal;

  &__container .govuk-width-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 550px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__header-logo {
    padding: 16px 0 8px 0;

    @media (max-width: 550px) {
      padding-bottom: 4px;
    }
  }

  &__button-container {
    display: flex;
    align-items: center;

    @media (max-width: 550px) {
      width: 100%;
      padding-bottom: 8px;
    }
  }

  &__navigation-item {
    margin-left: govuk-spacing(4);
    &:first-child { margin-left: 0; }

    @media (max-width: 550px) {
      margin-left: govuk-spacing(2);
    }
  }
}

.govuk-header__link .govuk-header__logotype {
  height: 30px;
  width: auto;
}

.govuk-header__link:focus .govuk-header__logotype {
  content: url(/assets/dfe-logo-alt.png);
}

.govuk-template--rebranded .govuk-header__link--homepage {
  display: inline-block;
  height: 30px;
  &:not(:focus) { background-color: govuk-colour('blue'); }
}

.govuk-service-navigation__link {
  position: relative;
}


.govuk-service-navigation__item--current .govuk-service-navigation__link::after {
  content: '';
  position: absolute;
  bottom: -16px;
  left: 0;
  right: 0;
  height: 5px;
  background-color: govuk-colour('blue');
}

@media (max-width: 550px) {
  .govuk-service-navigation__item--current .govuk-service-navigation__link::after {
    top: 0;
    bottom: 0;
    left: -15px;
    right: auto;
    width: 5px;
    height: auto;
  }
}

.training-signout-link {
  display: inline-block;
  margin: 0;
  padding: 5px 15px;
  &:not(:only-child) { border-right: 1px solid #f4f8fb; }
}

.dfe-content-page--header {
  background: $light-blue;
  img {
    max-width: 100%;
    width: 100%;
    @include govuk-media-query($until: tablet) { padding-top: govuk-spacing(4); }
  }
}

@media (min-width: 550px) {
  .govuk-template--rebranded .govuk-service-navigation__service-name {
    padding-bottom: 0;
  }
}
