.hf-card-container {
  background-color: govuk-colour("light-grey");
  border-bottom: 3px solid #003A69;
}

.hf-card-details {
  padding: govuk-spacing(6);
  min-height: 190px;
}

.hf-card a {
  text-decoration: none;
}

.hf-card a .hf-card-details p {
  color: $govuk-text-colour;
}

.hf-card a .hf-card-details h3 {
  color: $govuk-link-colour;
}

a:hover .hf-card-container {
  background-color: #003A69;
}

a:hover .hf-card-container .hf-card-details p,
a:hover .hf-card-container .hf-card-details h3 {
  color: govuk-colour("white")
}

.hf-other {
  padding-top: govuk-spacing(9);
  padding-bottom: govuk-spacing(9);
}

.hf-ctas {
  padding-top: govuk-spacing(9);
  padding-bottom: govuk-spacing(4);
}

.hf-second-color {
  color: $govuk-secondary-text-colour
}

.hf-cta-block {
  display: flex;
  column-gap: 20px;
}

.hf-icon {
  background: #ebf2f6;
  display: flex;
  padding: 10px;
  border-radius: 50%;
}

.hf-icon path {
  fill: #347CA9;
}

.contents-list__list-item--numbered .contents-list__link {
  display: table
}

.contents-list__number,
.contents-list__numbered-text {
  display: table-cell
}

.contents-list__number {
  min-width: 1.5em
}

.contents-list__numbered-text {
  padding-left: .3em
}

.direction-rtl .contents-list__numbered-text {
  padding-left: 0;
  padding-right: .3em
}

.contents-list {
  position: relative;
  margin: 0;
  z-index: 1;
  background: #fff;
  box-shadow: 0 20px 15px -10px #fff
}

.contents-list__title {
  color: #0b0c0c;
  font-family: GDS Transport, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.5;
  margin: 0
}

@media print {
  .contents-list__title {
    color: #000;
    font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .contents-list__title {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5
  }
}

@media print {
  .contents-list__title {
    font-size: 14pt;
    line-height: 1.5
  }
}

.contents-list__list,
.contents-list__nested-list {
  color: #0b0c0c;
  font-family: GDS Transport, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1428571429;
  margin: 0;
  padding: 0;
  list-style-type: none
}

.contents-list__list ol,
.contents-list__list ul,
.contents-list__nested-list ol,
.contents-list__nested-list ul {
  margin: 0
}

@media print {

  .contents-list__list,
  .contents-list__nested-list {
    color: #000;
    font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {

  .contents-list__list,
  .contents-list__nested-list {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25
  }
}

@media print {

  .contents-list__list,
  .contents-list__nested-list {
    font-size: 14pt;
    line-height: 1.2
  }
}

.contents-list__list-item--parent>.contents-list__link {
  font-weight: 700
}

.contents-list__list-item {
  padding-top: 10px;
  line-height: 1.3;
  list-style-type: none
}

@media(min-width: 40.0625em) {
  .contents-list__list-item {
    padding-top: 7.5px
  }
}

.contents-list__list-item--dashed {
  position: relative;
  padding-left: 25px;
  padding-right: 25px
}

.contents-list__list-item--dashed:before {
  content: "—";
  position: absolute;
  left: 0;
  width: 20px;
  overflow: hidden
}

.direction-rtl .contents-list__list-item--dashed:before {
  left: auto;
  right: 0
}

.lte-ie8 .contents-list__list-item--dashed .contents-list__link {
  display: inline-block;
  vertical-align: top
}

.cta-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebf2f6;
}

.cta-banner-text {
  padding-left: 40px;
  padding-right: 40px;
}

.cta-banner-img {
  width: 40%;
  display: flex;
}

.chevron-card-list {
  list-style: none;
  margin: 0 -15px;
  padding: 0
}

.chevron-card {
  border-top: 1px solid #b1b4b6;
  margin: 0 15px;
  padding: 5px 0 20px 0
}

.chevron-card:first-child {
  border-top: none;
  padding-top: 0
}

.chevron-card:first-child .chevron-card__wrapper {
  padding-top: 0
}

@media print {
  .chevron-card:first-child .chevron-card__wrapper {
    padding-top: 19px
  }
}

.chevron-card__wrapper {
  padding: 19px 0 4px;
  position: relative
}

@media (max-width: 40.0525em) {
  .hf-card {
    margin-bottom: govuk-spacing(6);
  }

  .govuk-grid-row .govuk-grid-column-one-third:last-child .hf-card {
    margin-bottom: 0;
  }

  .hf-cta-block {
    margin-bottom: govuk-spacing(6);
  }
}

.chevron-card__description {
  margin: 0 30px 0 0
}

.chevron-card__link::after {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

.chevron-card__link::before {
  border-right: 3px solid #1d70b8;
  border-top: 3px solid #1d70b8;
  content: "";
  display: block;
  height: 7px;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: 5px;
  -webkit-transform: translateY(0) rotate(45deg) scale(1);
  -ms-transform: translateY(0) rotate(45deg) scale(1);
  transform: translateY(0) rotate(45deg) scale(1);
  width: 7px
}

.chevron-card__link:hover::before {
  border-color: #003078
}

.chevron-card__link:focus::before {
  border-color: #0b0c0c
}

.govspeak-embed-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 66.6%;
  margin-bottom: govuk-spacing(9);
}

.govspeak-embed-container .govspeak-embed-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%
}

.contents-on-page {
  padding: 40px;
  border: 1px solid #b1b4b6;
  border-radius: 6px;
  background-color: #F3F2F150;
}

.app-back-to-top {
  margin-top: govuk-spacing(9);
}

.app-back-to-top__icon {
  display: inline-block;
  width: .8em;
  height: 1em;
  margin-top: -5px;
  margin-right: 10px;
  vertical-align: middle;
}

.content-with-side-menu {
  padding-left: 30px;
}

@media (max-width: 40.0525em) {
  .content-with-side-menu {
    padding-left: 0px;
  }

  .mob-section {
    background: #f1f2f350;
    margin-top: -20px;
    padding: 20px 15px 0px;
    border-bottom: 1px solid #ccc;
  }

  .contents-on-page {
    padding: 20px;
  }

  .hf-card-details {
    padding: govuk-spacing(5);
    min-height: 170px;
  }


  .cta-banner {
    flex-direction: column;
  }

  .cta-banner-img {
    width: 100%;
    order: 1;
  }

  .cta-banner-text {
    order: 2;
    padding: 20px;
  }

  .table-scroll {
    overflow: scroll;
  }

}

.info-notice {
  border-left: 10px solid #b1b4b6;
  padding: 1em 0 1em 1em;
  margin: 2em 0;
}

.hf-tab-width {
  width: 19%
}

th.govuk-table__header {
  background: #ebf2f6;
}


.gem-c-attachment-link__abbr {
  text-decoration: none;
  cursor: help
}

.gem-c-attachment {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  position: relative
}

@media print {
  .gem-c-attachment {
    font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .gem-c-attachment {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737
  }

  .gem-c-attachment__thumbnail {
    position: relative;
    width: 140px;
    height: auto;
    max-width: 140px;
    margin-right: 20px;
    margin-bottom: 15px;
    padding: 5px;
    float: left
  }
}

@media print {
  .gem-c-attachment {
    font-size: 14pt;
    line-height: 1.15
  }
}

.gem-c-attachment:after {
  content: "";
  display: block;
  clear: both
}

.gem-c-attachment .govuk-details {
  margin: 15px 0
}

.gem-c-attachment__thumbnail {
  position: relative;
  width: auto;
  margin-right: 25px;
  margin-bottom: 15px;
  padding: 5px;
  float: left
}

.gem-c-attachment__thumbnail-image {
  display: block;
  max-width: 280px;
  width: 140px;
  height: auto;
  border: rgba(11, 12, 12, 0.1);
  outline: 5px solid rgba(11, 12, 12, 0.1);
  background: #fff;
  box-shadow: 0 2px 2px rgba(11, 12, 12, 0.4);
  fill: #b1b4b6;
  stroke: #b1b4b6
}

.gem-c-attachment__details {
  padding-left: 134px
}

.gem-c-attachment__details .gem-c-detailss {
  word-break: break-word;
  word-wrap: break-word
}

.gem-c-attachment__title {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  margin: 0 0 15px
}

@media print {
  .gem-c-attachment__title {
    font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .gem-c-attachment__title {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 1.1111111111
  }
}

@media print {
  .gem-c-attachment__title {
    font-size: 18pt;
    line-height: 1.15
  }
}

.gem-c-attachment__link {
  line-height: 1.29
}

.gem-c-attachment__metadata {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin: 0 0 15px;
  color: #505a5f
}

@media print {
  .gem-c-attachment__metadata {
    font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .gem-c-attachment__metadata {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737
  }
}

@media print {
  .gem-c-attachment__metadata {
    font-size: 14pt;
    line-height: 1.15
  }
}

.gem-c-attachment__metadata:last-of-type {
  margin-bottom: 0
}

.gem-c-attachment__metadata .gem-c-attachment__attribute {
  word-wrap: break-word;
  overflow-wrap: break-word
}

.gem-c-attachment__metadata--compact {
  margin-bottom: 0
}

.gem-c-attachment__abbr {
  text-decoration: none;
  cursor: help
}

ul li ol,
ul li ul,
ol li ul,
ol li ol {
  margin-top: govuk-spacing(3);
}