.about-module-box {
  background: $light-blue;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: govuk-spacing(6);

  @include govuk-media-query($from: tablet) {
    flex-direction: row;
  }

  p:last-child {
    margin-bottom: 0;
  }

  &-panel {
    flex: 100%;
    padding: 1.5em;
    background-size: cover;
    background-position: center;

    @include govuk-media-query($from: tablet) {
      flex: 50%;
      padding: 3em;
    }
  }
}
