/* $govuk-global-styles: true;
$govuk-assets-path: "/";
*/

/*
https://frontend.design-system.service.gov.uk/sass-api-reference
https://design.education.gov.uk/design-system/dfe-frontend
https://design-system.service.gov.uk/styles/colour/

https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_colours.scss
*/
$department-for-education: #003a69;
$department-for-education-websafe: #347ca9;

$govuk-new-link-styles: true;
$govuk-page-width: 1200px;

.govuk-width-container {
  max-width: $govuk-page-width;
}

@import 'govuk-frontend/govuk/all';
@import 'dfe-frontend-alpha/packages/dfefrontend';

$light-blue: tint($department-for-education-websafe, 90%);

@import 'dfe-header';
@import 'hfeyp-v2';
@import 'dfe/print';
@import 'dfe/about';
@import 'dfe/card';
/*
@import 'dfe/prompt';
@import 'video';
@import 'question';
@import 'interruption';
@import 'quote';
@import 'icons';
@import 'modal';
@import 'autocomplete';
@import 'assets-page';
*/

// training/modules#show
/*
@import 'progress-bar';
@import 'module-overview';
*/

// training/pages#show (section intro)
/*
@import 'section-intro';
@import 'section-bar';
*/

// training/pages#show (certificate)
// @import 'certificate';



* {
  font-family:
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    sans-serif !important;
}


main img {
  max-width: 100%;
}

/*
Default layout
-----------------------------------------------
*/

#default-layout {
  // noop
}

/*
Hero layout
-----------------------------------------------
*/

#hero-layout {
  .govuk-notification-banner {
    margin-top: govuk-spacing(6);
    margin-bottom: govuk-spacing(-4);
  }

  #assessment-results .govuk-notification-banner {
    margin-bottom: govuk-spacing(8);
  }

  @include govuk-media-query($until: tablet) {

    .govuk-grid-column-one-half>p,
    .govuk-grid-column-one-half>h2 {
      margin-left: govuk-spacing(2);
      margin-right: govuk-spacing(2);
    }
  }
}


/*
Internal
-----------------------------------------------
*/
pre.code-tip {
  padding: 0 5px;
  color: govuk-colour('red');
  background-color: govuk-colour('light-grey');
}

.debug_dump {
  background: beige;

  &,
  * {
    font-family: monospace !important;
  }
}

// --------------------------------------------

.app-sidebar {
  padding: govuk-spacing(5) govuk-spacing(3);
  background-color: govuk-colour('light-grey');

  *:last-child {
    margin: 0;
  }
}

.govuk-label {
  font-weight: normal;
}

.light-grey-box {
  padding: govuk-spacing(5);
  margin-bottom: govuk-spacing(5);
  background: govuk-colour('light-grey');

  @include govuk-media-query($until: tablet) {
    margin-top: govuk-spacing(6);
    margin-bottom: govuk-spacing(6);
  }

  &.enrol-box {
    border-radius: 6px;

    .govuk-button {
      margin: 0;
    }
  }

}

.float-right {
  float: right;
  display: block;
}

abbr {
  cursor: help;
  text-decoration: none;
}

.accordion-section-left-column {
  display: inline-block;
  max-width: calc(100% - 142px);
}

// nested bullets (level 2) to be unfilled circles
ul>li>ul>li {
  list-style-type: circle;
}

.first-column-bold td:first-child {
  font-weight: bold;
}

.log-entry {
  border: 0.5px solid;
  border-color: #b1b4b6;
  padding: 20px;
  margin-bottom: 40px;
}

.form-container {
  padding: 30px;
  background: #f3f2f1;
}

#js-timeout-warning:focus {
  outline: 3px solid #ffdd00;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}

.govuk-footer__copyright-logo {
  display: none;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

#available h2 .govuk-tag {
  margin-left: govuk-spacing(1);
}

.text-secondary {
  color: $govuk-secondary-text-colour;
}