.contents-on-page {
  padding: 40px;
  border: 1px solid #b1b4b6;
  border-radius: 6px;
  background-color: #F3F2F150;
}

@media (max-width: 40.0525em) {
  .contents-on-page {
      padding: 20px;
  }
}

.contents-on-page ul {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.contents-on-page li {
  padding-top: 10px;
  line-height: 1.3;
  list-style-type: none;
  position: relative;
  padding-left: 25px;
  padding-right: 25px
}

.contents-on-page li:before {
  content: "—";
  position: absolute;
  left: 0;
  width: 20px;
  overflow: hidden
}

@media (max-width: 40.0525em) {
  .content-with-side-menu {
    padding-left: 0px;
  }

  .mob-section {
    background: #f1f2f350;
    margin-top: -20px;
    padding: 20px 15px 0px;
    border-bottom: 1px solid #ccc;
  }

  .contents-on-page {
    padding: 20px;
  }

  .hf-card-details {
    padding: govuk-spacing(5);
    min-height: 170px;
  }

  .cta-banner {
    flex-direction: column;
  }

  .cta-banner-img {
    width: 100%;
    order: 1;
  }

  .cta-banner-text {
    order: 2;
    padding: 20px;
  }

  .table-scroll {
    overflow: scroll;
  }
}

.app-back-to-top {
  margin-top: govuk-spacing(9);
}

.app-back-to-top__icon {
  display: inline-block;
  width: .8em;
  height: 1em;
  margin-top: -5px;
  margin-right: 10px;
  vertical-align: middle;
}

ul li ol,
ul li ul,
ol li ul,
ol li ol {
  margin-top: govuk-spacing(3);
}
