.dfe-vertical-nav {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: .875rem;
  line-height: 1.1429;

  @include govuk-media-query($from: tablet) {
    padding-left: 15px;

    &__theme {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3158;
    }
  }

  @include govuk-media-query($until: tablet) {
    margin-left: -15px;
  }

  &--section-header {
    font-size: 19px;
    line-height: 1.25;
    font-weight: 600;
    color: $govuk-secondary-text-colour;
    margin-bottom: 15px;
    padding-top: 0;
  }

  &__section {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;

    &--nested {
      margin-bottom: 5px;
    }
  }

  &__link {
    display: block;
    padding: 7px 30px 8px 10px;
    text-decoration: none;
    margin-bottom: 5px;
    color: govuk-organisation-colour('department-for-education', false);

    &:focus {
      // background: inherit;
      background: govuk-colour('yellow');
      color: $govuk-text-colour;
      text-decoration: none;
      box-shadow: none;
      outline: 0;
    }

    &:active,
    &:hover {
      color: $govuk-link-colour;
      border-left-color: govuk-organisation-colour('department-for-education');
      text-decoration: none;
      box-shadow: none;
      outline: 0;
    }
  }

  &__section-item {
    border-left: 4px solid $govuk-border-colour;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;

    :hover {
      border-left: 4px solid govuk-organisation-colour('department-for-education');
    }

    &--current {
      border-left: 4px solid govuk-organisation-colour('department-for-education', false);
      font-weight: 700;
      background: $light-blue;
    }
  }

  &--count {
    float: right;
    background: $govuk-border-colour;
    padding: 9px 5px;
    border-radius: 0;
    color: $govuk-text-colour;
    font-weight: 700;
    min-width: 25px;
    text-align: center;
    font-size: 12px;
  
    @include govuk-media-query($from: tablet) {
      padding: 12px 8px;
    }
  }

  &__section-item--current,
  &__link {
    border-left-color: govuk-organisation-colour('department-for-education', false);
    font-weight: 700;
    color: govuk-organisation-colour('department-for-education', false);
  }

  &__section-item--current,
  &__link:hover {
    text-decoration: none;
  }

  &__section--nested,
  &__link {
    padding-left: 20px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: -5px;
  }

  &__section--nested,
  &__section-item::before {
    content: "—";
    margin-left: -20px;
    color: $govuk-secondary-text-colour;
  }

  &__section,
  &__section-item--current--child-active,
  &__link {
    font-weight: 400;
  }

  &__section,
  &__section-item {
    border-left: none;

    ::before {
      content: "—";
      margin-left: 0;
      margin-right: 5px;
    }
  }

  &__section,
  &__section.dfe-vertical-nav__section-item--current {
    border-left: none;
    background: govuk-organisation-colour('department-for-education');
  }

  &__section,
  &__section.dfe-vertical-nav__section-item--current,
  &__link {
    font-weight: 700;
  }
}

@media print {
  .dfe-vertical-nav {
    font-size: 14pt;
    line-height: 1.2
  }

  .dfe-vertical-nav__theme {
    font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .dfe-vertical-nav__theme {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3158;
  }
}

.dfe-vertical-nav,
.content-with-side-menu {
  margin-top: 20px;
}

.menu-btn {
  display: none;

  &:checked~.dfe-vertical-nav,
  &:checked~.menu-icon .sm-close,
  &:not(:checked)~.menu-icon .sm-open {
    display: block;
  }

  &:not(:checked)~.dfe-vertical-nav,
  &:checked~.menu-icon .sm-open,
  &:not(:checked)~.menu-icon .sm-close {
    display: none;
  }

  @include govuk-media-query($from: tablet) {
    &:checked~.dfe-vertical-nav,
    &:not(:checked)~.dfe-vertical-nav {
      display: block;
    }
  }
}

@media (min-width: 40.0625em) {
  .dfe-vertical-nav,
  .content-with-side-menu {
    margin-top: 0;
  }
}

label.menu-icon {
  display: flex;
  align-items: center;
  color: $govuk-link-colour;
  font-weight: bold;

  @include govuk-media-query($from: tablet) {
    display: none;
  }

  svg {
    margin-right: 10px;
  }
}
