.dfe-vertical-nav {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: .875rem;
  line-height: 1.1429;

  @include govuk-media-query($from: tablet) {
    padding-left: 15px;
    margin-left: -15px;
  }

  &__section {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none;
  }

  &__section-item {
    border-left: 4px solid $govuk-border-colour;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;

    &:hover {
      border-left: 4px solid govuk-organisation-colour('department-for-education');
    }

    &--current {
      border-left: 4px solid govuk-organisation-colour('department-for-education', false);
      font-weight: 700;
      background: $light-blue;
    }
  }

  &__link {
    display: block;
    padding: 7px 30px 8px 10px;
    text-decoration: none;
    margin-bottom: 5px;
    color: govuk-organisation-colour('department-for-education', false);

    &:active,
    &:hover {
      color: $govuk-link-colour;
      border-left-color: $govuk-link-colour;;
      text-decoration: none;
      box-shadow: none;
      outline: 0;
    }

    &:focus {
      background: govuk-colour('yellow');
      color: $govuk-text-colour;
      text-decoration: none;
      box-shadow: none;
      outline: 0
    }
  }

  &--count {
    float: right;
    background: $govuk-border-colour;
    padding: 9px 5px;
    border-radius: 0;
    color: $govuk-text-colour;
    font-weight: 700;
    min-width: 25px;
    text-align: center;
    font-size: 12px;
  }
}

.dfe-vertical-nav .dfe-vertical-nav--section-header {
  font-size: 19px;
  line-height: 1.25;
  font-weight: 600;
  margin-bottom: 15px;
  padding-top: 0;
}

.dfe-vertical-nav__section-item--current .dfe-vertical-nav__link {
  border-left-color: govuk-organisation-colour('department-for-education', false);
  font-weight: 700;
  color: govuk-organisation-colour('department-for-education', false);
}

.dfe-vertical-nav__section-item--current .dfe-vertical-nav__link:hover {
  text-decoration: none;
}

.dfe-vertical-nav__section--nested {
  margin-bottom: 5px;
}

.dfe-vertical-nav__section--nested .dfe-vertical-nav__link {
  padding-left: 20px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: -5px;
}

.dfe-vertical-nav__section--nested .dfe-vertical-nav__section-item::before {
  content: "—";
  margin-left: -20px;
  color: $govuk-secondary-text-colour;
}

.dfe-vertical-nav__section .dfe-vertical-nav__section-item--current--child-active .dfe-vertical-nav__link {
  font-weight: 400;
}

.dfe-vertical-nav__section .dfe-vertical-nav__section {
  margin-bottom: 0;
}

.dfe-vertical-nav__section .dfe-vertical-nav__section .dfe-vertical-nav__section-item {
  border-left: none;
}

.dfe-vertical-nav__section .dfe-vertical-nav__section .dfe-vertical-nav__section-item ::before {
  content: "—";
  margin-left: 0;
  margin-right: 5px;
}

.dfe-vertical-nav__section .dfe-vertical-nav__section.dfe-vertical-nav__section-item--current {
  border-left: none;
  background: govuk-organisation-colour('department-for-education');
}

.dfe-vertical-nav__section .dfe-vertical-nav__section.dfe-vertical-nav__section-item--current .dfe-vertical-nav__link {
  font-weight: 700;
}

.dfe-vertical-nav,
.content-with-side-menu {
  margin-top: 20px;
}

.menu-btn {
  display: none;

  @include govuk-media-query($from: tablet) {
    &:checked~.dfe-vertical-nav,
    &:not(:checked)~.dfe-vertical-nav {
      display: block;
    }
  }

  &:checked~.dfe-vertical-nav,
  &:checked~.menu-icon .sm-close,
  &:not(:checked)~.menu-icon .sm-open {
    display: block;
  }

  &:not(:checked)~.dfe-vertical-nav,
  &:checked~.menu-icon .sm-open,
  &:not(:checked)~.menu-icon .sm-close {
    display: none;
  }
}

label.menu-icon {
  display: flex;
  align-items: center;
  color: $govuk-link-colour;
  font-weight: bold;

  @include govuk-media-query($from: tablet) {
    display: none;
  }

  svg {
    margin-right: 10px;
  }
}

@media (min-width: 40.0625em) {
  .dfe-vertical-nav__theme {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3158;
  }

  .dfe-vertical-nav--count {
    padding: 12px 8px;
  }

  .dfe-vertical-nav,
  .content-with-side-menu {
    margin-top: 0px;
  }
}

@media print {
  .dfe-vertical-nav {
    font-size: 14pt;
    line-height: 1.2;
  }
}
