<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-width-container govuk-!-margin-bottom-7">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds landing-page_header-text-container govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
          <%= ActsAsTenant.current_tenant.name %>
        </h1>
      </div>
    </div>
  </div>

  <div class="landing-page__section--grey">
    <div class="govuk-width-container">
      <ul class="govuk-grid-row eyfs-card-group">
        <% @content_pages.each do |content_page| %>
          <li class="govuk-grid-column-one-half eyfs-card-group__item">
            <div class="eyfs-card eyfs-card--clickable eyfs-card--icon">
              <div class="eyfs-card__content">
                <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state" href="<%= '/' + content_page.slug %>"><%= content_page.title %></a>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
