<% if @page.parent %>
  <span class="govuk-caption-l"><%= @page.parent.title %></span>
<% end %>
<h1 class="govuk-heading-l">
  <%= @page.title %>
</h1>
<% if @page.content_list %>
  <p class="govuk-body govuk-!-margin-bottom-1"> Contents </p>
<% end %>
<%= translate_markdown(@page.content_list) %>
<% if @page.content_list %>
<div class="gem-c-print-link govuk-!-margin-top-7" id="print-button">
  <button class="govuk-link gem-c-print-link__button" onclick="window.print()" data-module="print-link" >Print this page</button>
</div>
<% end %>
<div class="govuk-!-margin-top-4">
  <%= translate_markdown(@page.markdown) %>
</div>
