name: Test

on: [push]

env:
  RAILS_ENV: test
  ENVIRONMENT: test

jobs:
  tests:
    name: Run rspec and rubocop
    runs-on: ubuntu-latest
    env:
      RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.9

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'

      - name: Install gems
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 20 --retry 3

      - name: Install yarn
        run: npm install yarn -g

      - name: Install node.js dependencies
        run: yarn install

      - name: Compile assets
        run: bin/rails assets:precompile

      - name: Run rubocop
        run: bundle exec rubocop

      - name: Run tests
        run: bundle exec rspec
