script async=true src=Rails.configuration.js_url

javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', '#{Rails.configuration.tracking_id}');
