<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>

    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/articles">
        Articles
      </a>
    </li>

    <% if @article %>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="<%= article_path(@article)%>">
        <%= @article.title %>
      </a>
    </li>
    <% end %>
  </ol>
</div>
