<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="<%= content_url %>">Home</a>
    </li>
    <% if @page.parent %>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href=#">
          <%= @page.parent.title %>
        </a>
      </li>
    <% end %>

    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href=#">
        <%= @page.title %>
      </a>
    </li>
    </li>
  </ol>
</div>
