<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <% if @page.parent %>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="<%= path_for_this_page(@page.parent) %>">
          <%= @page.parent.title %>
        </a>
      </li>
    <% end %>

    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="<%= path_for_this_page(@page)%>">
        <%= @page.title %>
      </a>
    </li>
    </li>
  </ol>
</div>
