<div class="govuk-grid-row">
  <div class='govuk-grid-column-two-thirds'>
    <div class='light-grey-box'>
      <h1 class='govuk-heading-l'>New early years child development training</h1>
      <p class='govuk-body'>This new, free, online training provides an overview of child development and 
      practical advice for supporting children in your setting</p>
      <p class='govuk-body'><%= govuk_link_to 'Find out more about the training', child_development_training_path %></p>  
    </div>
  </div>
</div>
