<div class="gem-c-feedback" data-module="feedback">
  <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
    <div class="gem-c-feedback__prompt-questions js-prompt-questions">
      <h2 class="govuk-heading-s gem-c-feedback__prompt-question">Is this page useful?</h2>

      <ul class="gem-c-feedback__option-list">
        <li class="gem-c-feedback__option-list-item">
          <%= button_to(
                feedbacks_path,
                params: { 'feedback[page_useful]' => 'yes' },
                class: "govuk-button gem-c-feedback__prompt-link",
                data: {
                  track_category: "yesNoFeedbackForm",
                  track_action: "ffYesClick"
                }
              ) do  %>
            Yes <span class="govuk-visually-hidden">this page is useful</span>
          <% end %>
        </li>
        <li class="gem-c-feedback__option-list-item">
          <%= button_to(
                feedbacks_path,
                params: { 'feedback[page_useful]' => 'no' },
                class: "govuk-button gem-c-feedback__prompt-link",
                data: {
                  track_category: "yesNoFeedbackForm",
                  track_action: "ffNoClick"
                }
              ) do  %>
            No <span class="govuk-visually-hidden">this page is not useful</span>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="gem-c-feedback__prompt-questions gem-c-feedback__prompt-questions--something-is-wrong js-prompt-questions">
      <%= link_to_feedback class: "govuk-button gem-c-feedback__prompt-link" %>
    </div>
  </div>
</div>
