<hr>
<div class="govuk-grid-row  govuk-!-margin-top-4" tabindex="-1">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">
      Help us improve Help for early years providers
    </h2>
    <p class="govuk-body">
      We're sorry you didn't find this page useful. Please tell us why, so we can improve the site for everyone.
      Our feedback form will take around 2 minutes to complete.
    </p>

    <%= link_to_feedback target: "_blank" %>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <%= button_to(
          "Close",
          feedbacks_path,
          params: { 'feedback[page_useful]' => 'reset' },
          class: "govuk-button govuk-button--secondary"
        ) %>
  </div>
</div>

