<div>
  <% if (@featured_page) %>
    <h2 class="govuk-heading-l"><%= @featured_page.title %></h2>
    <p class="govuk-body"><a class="govuk-link" href="<%= path_for_this_page(@featured_page) %>">Overview</a></p>

    <% (@featured_page&.children.order_by_position || []).each do |child| %>
        <p class="govuk-body"><a class="govuk-link" href="<%= path_for_this_page(child) %>"><%= child.title %></a></p>
    <% end %>
  <% end %>
</div>
