<!DOCTYPE html>
<html lang="en" class="govuk-template ">
<head>
  <meta charset="utf-8">
  <title>
    Help for early years providers
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/govuk/assets/images/favicon.ico" type="image/x-icon">
  <link rel="mask-icon" href="/govuk/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="/govuk/assets/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/govuk/assets/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/govuk/assets/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/govuk/assets/images/govuk-apple-touch-icon.png">

  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  <meta property="og:image" content="/govuk/assets/images/govuk-opengraph-image.png">
</head>
<body class="govuk-template__body ">

<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<a href="#main-content" class="govuk-skip-link">Skip to main content</a>

<header class="govuk-header app-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo govuk-!-padding-right-0">
      <a href="#" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <svg aria-hidden="true" focusable="false" class="govuk-header__logotype-crown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132 97" height="30" width="36">
            <path fill="currentColor" fill-rule="evenodd" d="M25 30.2c3.5 1.5 7.7-.2 9.1-3.7 1.5-3.6-.2-7.8-3.9-9.2-3.6-1.4-7.6.3-9.1 3.9-1.4 3.5.3 7.5 3.9 9zM9 39.5c3.6 1.5 7.8-.2 9.2-3.7 1.5-3.6-.2-7.8-3.9-9.1-3.6-1.5-7.6.2-9.1 3.8-1.4 3.5.3 7.5 3.8 9zM4.4 57.2c3.5 1.5 7.7-.2 9.1-3.8 1.5-3.6-.2-7.7-3.9-9.1-3.5-1.5-7.6.3-9.1 3.8-1.4 3.5.3 7.6 3.9 9.1zm38.3-21.4c3.5 1.5 7.7-.2 9.1-3.8 1.5-3.6-.2-7.7-3.9-9.1-3.6-1.5-7.6.3-9.1 3.8-1.3 3.6.4 7.7 3.9 9.1zm64.4-5.6c-3.6 1.5-7.8-.2-9.1-3.7-1.5-3.6.2-7.8 3.8-9.2 3.6-1.4 7.7.3 9.2 3.9 1.3 3.5-.4 7.5-3.9 9zm15.9 9.3c-3.6 1.5-7.7-.2-9.1-3.7-1.5-3.6.2-7.8 3.7-9.1 3.6-1.5 7.7.2 9.2 3.8 1.5 3.5-.3 7.5-3.8 9zm4.7 17.7c-3.6 1.5-7.8-.2-9.2-3.8-1.5-3.6.2-7.7 3.9-9.1 3.6-1.5 7.7.3 9.2 3.8 1.3 3.5-.4 7.6-3.9 9.1zM89.3 35.8c-3.6 1.5-7.8-.2-9.2-3.8-1.4-3.6.2-7.7 3.9-9.1 3.6-1.5 7.7.3 9.2 3.8 1.4 3.6-.3 7.7-3.9 9.1zM69.7 17.7l8.9 4.7V9.3l-8.9 2.8c-.2-.3-.5-.6-.9-.9L72.4 0H59.6l3.5 11.2c-.3.3-.6.5-.9.9l-8.8-2.8v13.1l8.8-4.7c.3.3.6.7.9.9l-5 15.4v.1c-.2.8-.4 1.6-.4 2.4 0 4.1 3.1 7.5 7 8.1h.2c.3 0 .7.1 1 .1.4 0 .7 0 1-.1h.2c4-.6 7.1-4.1 7.1-8.1 0-.8-.1-1.7-.4-2.4V34l-5.1-15.4c.4-.2.7-.6 1-.9zM66 92.8c16.9 0 32.8 1.1 47.1 3.2 4-16.9 8.9-26.7 14-33.5l-9.6-3.4c1 4.9 1.1 7.2 0 10.2-1.5-1.4-3-4.3-4.2-8.7L108.6 76c2.8-2 5-3.2 7.5-3.3-4.4 9.4-10 11.9-13.6 11.2-4.3-.8-6.3-4.6-5.6-7.9 1-4.7 5.7-5.9 8-.5 4.3-8.7-3-11.4-7.6-8.8 7.1-7.2 7.9-13.5 2.1-21.1-8 6.1-8.1 12.3-4.5 20.8-4.7-5.4-12.1-2.5-9.5 6.2 3.4-5.2 7.9-2 7.2 3.1-.6 4.3-6.4 7.8-13.5 7.2-10.3-.9-10.9-8-11.2-13.8 2.5-.5 7.1 1.8 11 7.3L80.2 60c-4.1 4.4-8 5.3-12.3 5.4 1.4-4.4 8-11.6 8-11.6H55.5s6.4 7.2 7.9 11.6c-4.2-.1-8-1-12.3-5.4l1.4 16.4c3.9-5.5 8.5-7.7 10.9-7.3-.3 5.8-.9 12.8-11.1 13.8-7.2.6-12.9-2.9-13.5-7.2-.7-5 3.8-8.3 7.1-3.1 2.7-8.7-4.6-11.6-9.4-6.2 3.7-8.5 3.6-14.7-4.6-20.8-5.8 7.6-5 13.9 2.2 21.1-4.7-2.6-11.9.1-7.7 8.8 2.3-5.5 7.1-4.2 8.1.5.7 3.3-1.3 7.1-5.7 7.9-3.5.7-9-1.8-13.5-11.2 2.5.1 4.7 1.3 7.5 3.3l-4.7-15.4c-1.2 4.4-2.7 7.2-4.3 8.7-1.1-3-.9-5.3 0-10.2l-9.5 3.4c5 6.9 9.9 16.7 14 33.5 14.8-2.1 30.8-3.2 47.7-3.2z"></path>
            <image src="/assets/images/govuk-logotype-crown.png" xlink:href="" class="govuk-header__logotype-crown-fallback-image" width="36" height="32"></image>
          </svg>
          <span class="govuk-header__logotype-text">
            GOV.UK
          </span>
        </span>
      </a>
    </div>
    <div class="govuk-header__content">
      <a href="/main/Round1Version1/hub" class="govuk-header__link govuk-header__link--service-name">
        Help for early years providers
      </a>
    </div>
  </div>
</header>

<nav class="app-subnav--mobile app-mobile-nav js-app-mobile-nav">
  <ul class="app-mobile-nav__list">
    <li>
      <div class="app-mobile-nav-subnav-toggler topic-one">
        <a class="govuk-link govuk-link--no-visited-state app-mobile-nav-subnav-toggler__link js-mobile-nav-subnav-toggler" href="#">Communication
          and language</a>
      </div>
      <ul class=" app-mobile-nav__list app-mobile-nav__subnav app-mobile-nav__subnav--topic-one js-app-mobile-nav-subnav">
        <li class=" app-mobile-nav__subnav-item">
          <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Overview</a>
        </li>
        <li>
          <ul class="app-mobile-nav__list">
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Conversations</a>
            </li>
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Reading</a>
            </li>
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Role-play</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <div class="app-mobile-nav-subnav-toggler topic-two">
        <a class="govuk-link govuk-link--no-visited-state app-mobile-nav-subnav-toggler__link js-mobile-nav-subnav-toggler" href="javascript:void(0);">Physical
          development</a>
      </div>
      <ul class=" app-mobile-nav__list app-mobile-nav__subnav app-mobile-nav__subnav--topic-two js-app-mobile-nav-subnav">
        <li class=" app-mobile-nav__subnav-item">
          <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Overview</a>
        </li>
        <li>
          <ul class="app-mobile-nav__list">
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Core strength and
                co-ordination</a>
            </li>
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Gross motor skills</a>
            </li>
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Fine motor skills</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <div class="app-mobile-nav-subnav-toggler topic-three">
        <a class="govuk-link govuk-link--no-visited-state app-mobile-nav-subnav-toggler__link js-mobile-nav-subnav-toggler" href="javascript:void(0);">Personal,
          social and emotional development</a>
      </div>
      <ul class=" app-mobile-nav__list app-mobile-nav__subnav app-mobile-nav__subnav--topic-three js-app-mobile-nav-subnav">
        <li class=" app-mobile-nav__subnav-item">
          <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Overview</a>
        </li>
        <li>
          <ul class="app-mobile-nav__list">
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Managing emotions</a>
            </li>
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Personal needs</a>
            </li>
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Resolving conflict</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <div class="app-mobile-nav-subnav-toggler topic-four">
        <a class="govuk-link govuk-link--no-visited-state app-mobile-nav-subnav-toggler__link js-mobile-nav-subnav-toggler" href="javascript:void(0);">Literacy</a>
      </div>
      <ul class=" app-mobile-nav__list app-mobile-nav__subnav app-mobile-nav__subnav--topic-four js-app-mobile-nav-subnav">
        <li class=" app-mobile-nav__subnav-item">
          <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Overview</a>
        </li>
        <li>
          <ul class="app-mobile-nav__list">
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Comprehension</a>
            </li>
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Word reading</a>
            </li>
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Writing</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <div class="app-mobile-nav-subnav-toggler topic-five">
        <a class="govuk-link govuk-link--no-visited-state app-mobile-nav-subnav-toggler__link js-mobile-nav-subnav-toggler" href="javascript:void(0);">Maths</a>
      </div>

      <ul class=" app-mobile-nav__list app-mobile-nav__subnav app-mobile-nav__subnav--topic-five js-app-mobile-nav-subnav">
        <li class=" app-mobile-nav__subnav-item">
          <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/main/Round1Version1/maths/maths-index">Overview</a>
        </li>
        <li>
          <ul class="app-mobile-nav__list">
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/main/Round1Version1/maths/counting">Counting</a>
            </li>
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Number patterns</a>
            </li>
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Spatial reasoning</a>
            </li>
          </ul>
        </li>
      </ul>

    </li>

    <li>
      <div class="app-mobile-nav-subnav-toggler topic-six">
        <a class="govuk-link govuk-link--no-visited-state app-mobile-nav-subnav-toggler__link js-mobile-nav-subnav-toggler" href="javascript:void(0);">Understanding
          the world</a>
      </div>
      <ul class=" app-mobile-nav__list app-mobile-nav__subnav app-mobile-nav__subnav--topic-six js-app-mobile-nav-subnav">
        <li class=" app-mobile-nav__subnav-item">
          <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Overview</a>
        </li>
        <li>
          <ul class="app-mobile-nav__list">
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Personal experiences</a>
            </li>
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Diverse world</a>
            </li>
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Widening vocabulary</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <div class="app-mobile-nav-subnav-toggler topic-seven">
        <a class="govuk-link govuk-link--no-visited-state app-mobile-nav-subnav-toggler__link js-mobile-nav-subnav-toggler" href="javascript:void(0);">Expressive
          arts and design</a>
      </div>
      <ul class=" app-mobile-nav__list app-mobile-nav__subnav app-mobile-nav__subnav--topic-seven js-app-mobile-nav-subnav">
        <li class=" app-mobile-nav__subnav-item">
          <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Overview</a>
        </li>
        <li>
          <ul class="app-mobile-nav__list">
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Imagination and
                creativity</a>
            </li>
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Self-expression</a>
            </li>
            <li class=" app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="#">Communicating through
                arts</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<div class="eyfs-wrapper">

  <div class="govuk-width-container">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          prototype
        </strong>
        <span class="govuk-phase-banner__text">
        This is a prototype. Content is likely to change rapidly.
      </span>
      </p>
    </div>
  </div>

  <main class="govuk-main-wrapper">
    <div class="govuk-width-container govuk-!-margin-bottom-7">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds landing-page_header-text-container govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
            Help for early years providers
          </h1>
          <p class="govuk-body-l">Information, guidance, practical support and training for delivering the early years
            foundation stage (EYFS).</p>
        </div>
      </div>
    </div>

    <!--Cards section-->
    <div class="landing-page__section--grey landing-page__section--border-bottom-blue">
      <div class="govuk-width-container">
        <h2 class="govuk-heading-l">Areas of learnings</h2>
        <p class="govuk-body govuk-!-margin-bottom-7">Find information about each area of learning in the EYFS and get
          ideas for activities you can do with early years children.</p>
        <ul class="govuk-grid-row eyfs-card-group">
          <% ContentPage.top_level.order_by_position.each do |content_page| %>
            <li class="govuk-grid-column-one-half eyfs-card-group__item">
              <div class="eyfs-card eyfs-card--clickable eyfs-card--icon">
                <div class="eyfs-card__content">
                  <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state" href="<%= content_url + '/' + content_page.slug %>"><%= content_page.title %></a>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <!--End of cards section-->

    <!--Get help to improve your practice-->
    <div class="govuk-width-container govuk-!-padding-top-8 govuk-!-margin-bottom-7">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Get help to improve your practice</h2>
          <p class="govuk-body">Use the links below to find out how to improve your practice</p>
          <p class="govuk-body"><a class="govuk-link" href="#">Planning your curriculum</a></p>
          <p class="govuk-body"><a class="govuk-link" href="#">Reducing paperwork</a></p>
          <p class="govuk-body"><a class="govuk-link" href="#">Supporting / identifying childrenwith SEND</a></p>
          <p class="govuk-body"><a class="govuk-link" href="#">Oral health</a></p>
          <p class="govuk-body"><a class="govuk-link" href="#">Keeping parents up to date</a></p>
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          <h2 class="govuk-heading-l">Other useful resources</h2>
          <p class="govuk-body">Use the links below to find out other resources that may be useful</p>
          <p class="govuk-body"><a class="govuk-link" href="#">EYFS Framework</a></p>
          <p class="govuk-body"><a class="govuk-link" href="#">EYFS Framework support</a></p>
          <p class="govuk-body"><a class="govuk-link" href="#">Development Matters</a></p>
        </div>
      </div>
    </div>
    <!--End of-->

    <!--Signup alert-->
    <div class="govuk-width-container govuk-!-padding-top-4 govuk-!-margin-bottom-6">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="eyfs-signup-link govuk-!-display-none-print govuk-!-margin-bottom-0 eyfs-signup-link--with-background-and-border">
            <div class="eyfs-signup-link__inner">
              <svg class="eyfs-signup-link__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334">
                <path fill="black" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path>
              </svg>
              <h3 class="govuk-heading-s eyfs-signup-link__title">Stay up to date with GOV.UK</h3>
              <a class="govuk-link govuk-!-font-size-19" href="#">Sign up to get emails when we change any coronavirus
                information on the GOV.UK website</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End of-->

    <!--Social links-->
    <div class="govuk-width-container govuk-!-padding-top-4">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p>Share this page</p>
          <div class="gem-c-share-links gem-c-share-links--columns" data-module="track-click">

            <ul class="gem-c-share-links__list">
              <li class="gem-c-share-links__list-item">
                <a target="_blank" rel="noopener noreferrer external" data-track-category="social media" data-track-action="facebook" class="gem-c-share-links__link govuk-!-font-size-16" href="/facebook-share-link">
                    <span class="gem-c-share-links__link-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" aria-hidden="true">
                          <path fill="currentColor" d="M31.006 0H.993A.997.997 0 0 0 0 .993v30.014c0 .55.452.993.993.993h30.013a.998.998 0 0 0 .994-.993V.993A.999.999 0 0 0 31.006 0z"></path>
                          <path fill="#FFF" d="M17.892 10.751h1.787V8.009L17.216 8c-2.73 0-3.352 2.045-3.352 3.353v1.828h-1.581v2.824h1.581V24h3.322v-7.995h2.242l.291-2.824h-2.533V11.52c.001-.623.415-.769.706-.769z"></path>
                        </svg>
                    </span>
                  <span class="govuk-visually-hidden">
                      Share on
                    </span>
                  Facebook
                </a>
              </li>

              <li class="gem-c-share-links__list-item">
                <a target="_blank" rel="noopener noreferrer external" data-track-category="social media" data-track-action="facebook" class="gem-c-share-links__link govuk-!-font-size-16" href="/facebook-share-link">
                    <span class="gem-c-share-links__link-icon">
                        <svg width="32" height="32" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h32v32H0z"/><path d="M16.007 8C11.585 8 8 11.579 8 15.993a7.996 7.996 0 005.087 7.448c-.072-.632-.131-1.605.027-2.296.145-.625.935-3.974.935-3.974s-.237-.48-.237-1.184c0-1.112.646-1.94 1.45-1.94.685 0 1.015.512 1.015 1.124 0 .684-.435 1.71-.666 2.665-.19.796.402 1.447 1.186 1.447 1.424 0 2.518-1.5 2.518-3.658 0-1.915-1.378-3.25-3.348-3.25-2.28 0-3.618 1.704-3.618 3.467 0 .684.264 1.421.593 1.822a.237.237 0 01.053.23c-.06.25-.198.797-.224.909-.033.144-.119.177-.27.105-1.002-.467-1.628-1.921-1.628-3.099 0-2.52 1.832-4.835 5.292-4.835 2.774 0 4.936 1.973 4.936 4.618 0 2.757-1.74 4.974-4.152 4.974-.81 0-1.575-.421-1.832-.921l-.5 1.901c-.179.697-.666 1.566-.996 2.099.751.23 1.542.355 2.372.355C20.415 24 24 20.421 24 16.007 24.013 11.579 20.428 8 16.007 8z" fill="#fff"/></svg>
                    </span>
                  <span class="govuk-visually-hidden">
                      Share on
                    </span>
                  Pinterest
                </a>
              </li>

              <li class="gem-c-share-links__list-item">
                <a target="_blank" rel="noopener noreferrer external" data-track-category="social media" data-track-action="facebook" class="gem-c-share-links__link govuk-!-font-size-16" href="/facebook-share-link">
                    <span class="gem-c-share-links__link-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" aria-hidden="true"><path d="M0 32V0h32v32H0zm20.839-13.894c-.263-.131-1.555-.766-1.796-.854-.24-.088-.416-.132-.59.131-.176.263-.68.855-.833 1.03-.153.176-.307.198-.57.066-.262-.131-1.109-.41-2.113-1.304-.78-.697-1.308-1.557-1.461-1.82-.153-.263-.016-.406.115-.536.118-.118.263-.308.394-.46.131-.154.175-.264.263-.44.088-.174.044-.328-.022-.46-.066-.131-.591-1.424-.81-1.95-.214-.513-.43-.443-.59-.452a10.506 10.506 0 00-.505-.009.964.964 0 00-.7.329c-.241.263-.92.899-.92 2.192 0 1.293.942 2.542 1.073 2.718.131.176 1.852 2.83 4.489 3.967.626.27 1.116.433 1.497.554.63.2 1.202.172 1.655.104.505-.075 1.555-.636 1.774-1.25.219-.613.219-1.14.153-1.25-.066-.108-.24-.174-.503-.306zm-4.795 6.547h-.003a8.73 8.73 0 01-4.449-1.219l-.319-.19-3.308.869.883-3.226-.208-.33a8.718 8.718 0 01-1.336-4.652c.001-4.819 3.922-8.74 8.744-8.74a8.68 8.68 0 016.179 2.564 8.686 8.686 0 012.557 6.183c-.002 4.82-3.922 8.74-8.74 8.74zm7.44-16.18a10.449 10.449 0 00-7.44-3.084c-5.796 0-10.513 4.717-10.516 10.516 0 1.853.484 3.662 1.404 5.256l-1.492 5.45 5.574-1.463a10.504 10.504 0 005.026 1.28h.004c5.796 0 10.514-4.717 10.516-10.515a10.455 10.455 0 00-3.077-7.44z" fill="currentColor"/></svg>

                    </span>
                  <span class="govuk-visually-hidden">
                      Share on
                    </span>
                  WhatsApp
                </a>
              </li>

              <li class="gem-c-share-links__list-item">
                <a target="_blank" rel="noopener noreferrer external" data-track-category="social media" data-track-action="email" class="gem-c-share-links__link govuk-!-font-size-16" href="/email-share-link">
                  <span class="gem-c-share-links__link-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="9 9 32 32" aria-hidden="true"><path fill="currentColor" d="M9 9h32v32H9V9z"></path><path fill="#FFF" d="M34.983 18.76v12.48H15.016V18.76h19.967m2.496-2.496H12.52v17.472h24.959V16.264z"></path><path fill="none" stroke="#FFF" stroke-width="2.496" stroke-miterlimit="10" d="M14.59 18.963L25 26.945l10.263-7.869"></path></svg>
                  </span>
                  <span class="govuk-visually-hidden">
                    Share on
                  </span>
                  Email
                </a>
              </li>

              <li class="gem-c-share-links__list-item">
                <a target="_blank" rel="noopener noreferrer external" data-track-category="social media" data-track-action="twitter" class="gem-c-share-links__link govuk-!-font-size-16" href="/twitter-share-link">
                  <span class="gem-c-share-links__link-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" aria-hidden="true">
                      <path fill="currentColor" d="M31.007 0H.993A.999.999 0 0 0 0 .993v30.014c0 .55.452.993.993.993h30.014a.997.997 0 0 0 .993-.993V.993A.998.998 0 0 0 31.007 0z"></path>
                      <path fill="#FFF" d="M8 21.027a9.286 9.286 0 0 0 5.032 1.475c6.038 0 9.34-5.002 9.34-9.339 0-.143-.004-.284-.012-.425a6.619 6.619 0 0 0 1.639-1.699c-.6.265-1.234.439-1.885.516a3.287 3.287 0 0 0 1.443-1.816 6.571 6.571 0 0 1-2.086.797 3.28 3.28 0 0 0-5.592 2.993 9.311 9.311 0 0 1-6.766-3.43 3.294 3.294 0 0 0-.443 1.651 3.28 3.28 0 0 0 1.46 2.732 3.278 3.278 0 0 1-1.488-.411v.041a3.288 3.288 0 0 0 2.633 3.22 3.28 3.28 0 0 1-1.481.055 3.285 3.285 0 0 0 3.065 2.281 6.59 6.59 0 0 1-4.076 1.404A6.76 6.76 0 0 1 8 21.027z"></path>
                    </svg>
                  </span>
                  <span class="govuk-visually-hidden">
                      Share on
                  </span>
                  Twitter
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <!--End of-->

    <!--Feedback-->
    <div class="govuk-width-container govuk-!-padding-top-4">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="gem-c-feedback" data-module="feedback">
            <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
              <div class="gem-c-feedback__prompt-questions js-prompt-questions">
                <h2 class="govuk-heading-s gem-c-feedback__prompt-question">Is this page useful?</h2>
                <!-- Maybe button exists only to try and capture clicks by bots -->

                <ul class="gem-c-feedback__option-list">
                  <li class="gem-c-feedback__option-list-item">
                    <button class="govuk-button gem-c-feedback__prompt-link js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick">
                      Yes <span class="govuk-visually-hidden">this page is useful</span>
                    </button>
                  </li>
                  <li class="gem-c-feedback__option-list-item">
                    <button class="govuk-button gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false">
                      No <span class="govuk-visually-hidden">this page is not useful</span>
                    </button>
                  </li>
                </ul>
              </div>

              <div class="gem-c-feedback__prompt-questions gem-c-feedback__prompt-questions--something-is-wrong js-prompt-questions">
                <button class="govuk-button gem-c-feedback__prompt-link js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV-UK Open Form" aria-controls="something-is-wrong" aria-expanded="false">
                  There is something wrong with this page
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--End of-->

  </main>

</div>


<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">

    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

        <h2 class="govuk-visually-hidden">Support links</h2>

        <ul class="govuk-footer__inline-list">

          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="https://govuk-prototype-kit.herokuapp.com/">
              GOV.UK Prototype Kit v9.10.1
            </a>
          </li>

          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/prototype-admin/clear-data">
              Clear data
            </a>
          </li>
        </ul>

        <svg
          aria-hidden="true"
          focusable="false"
          class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 483.2 195.7"
          height="17"
          width="41"
        >
          <path
            fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
            />
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a class="govuk-footer__link"
             href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
             rel="license"
          >Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo"
           href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
        >© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
